body, html {
    /* The image used and a fallback background color*/
    background: url("../images/backgrounds/totoro.jpg") #393939;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    height: 100%;
}

/* Limit the size of social media icons */
.nav-link img {
    width: 30px;
    height: 30px;

    /* Space between icons, especially when collapse */
    margin: 0 5px 0 5px;
}

/* Over-ride default flex-direction. Forces rows */
.navbar-nav {
    flex-direction: row;
}

/* Separate card decks */
.cards-top {
    margin: 50px 20px 10px 20px;
}

.cards-bottom {
    margin: 10px 20px 5px 20px;
}

/* Center Card decks */
.projects {
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* Flip certain cards -
Purely aesthetic */
.flip-card img {
    transform: scaleX(-1);
}

/* Control Min-Max card size */
.card {
    min-width: 8rem;
    max-width: 12rem;
}