body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("/images/backgrounds/totoro.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Fill in Background Color */
    background-color: #393939;
}    

.nav-link img {
    width: 30px;
    height: 30px;
}

/* Separate card decks */
.card-deck {
    margin-bottom: 20px;
}

/* Center Card decks */
.projects {
    height: 50%;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* Flip certain cards -
Purely aesthetic */
.flip-card img {
    transform: scaleX(-1);
}

/* Control Min-Max card size */
.card {
    min-width: 8rem;
    max-width: 12rem;
}
